<div class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="deemkeen/deemkeen.github.io"
          data-repo-id="R_kgDOQPG6Hw"
          data-category="Announcements"
          data-category-id="DIC_kwDOQPG6H84Cxbpq"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>
