---
---

@import "{{ site.theme }}";

/* Override fixed positioning to allow scrolling */
.wrapper {
  width: auto;
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: static !important;
  width: auto !important;
  float: none !important;
  padding: 20px 0;
}

section {
  width: auto !important;
  float: none !important;
  padding-bottom: 50px;
}

footer {
  position: static !important;
  width: auto !important;
  float: none !important;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }
}
