---
---

@import "{{ site.theme }}";

/* Two-column layout with header on left, content on right */
.wrapper {
  width: auto;
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: fixed !important;
  width: 270px !important;
  float: left !important;
  padding: 20px;
}

section {
  width: 650px !important;
  float: right !important;
  padding-bottom: 50px;
}

footer {
  position: fixed !important;
  width: 270px !important;
  float: left !important;
  bottom: 20px;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }
}
